:root {
  --left-space: 40px
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
}

/* Image Section */

.imageSection {
  background-image: url(img/leaf-background.jpg);
  background-position: center center;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5rem;
  font-family: "norse";
  margin-top: 20vh;
  padding: 16px 0;
  background-color: rgba(0,0,0,0.4);
}

.title img {
  height: 125px;
}

.title h2 {
  margin: 0;
}

.photoBy {
  font-size: 0.9rem;
}

/* Text Section */

.textSection{
  flex: 3;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textSection > p {
  font: 1.4rem;
  margin-left: var(--left-space);
  font-weight: bold;
  max-width: 80%;
  margin-bottom: 8px;
}

.textSection p:first-child {
  margin-top: 0;
}

/* form section */

.formSection {
  color: black;
  background-color: white;
  margin-top: 32px;
  margin-left: var(--left-space);
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.formSection label {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1px;
}

.formSection input {
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 1rem;
  margin-right: 32px;
}

.formSection h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
}

.inputs > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 84px;
  row-gap: 18px;
  margin-bottom: 18px;
}

.inputs label {
  display: block;
}

input.focus {
  border: 1px solid blue;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

input.error {
  border: 1px solid red;
}

.create-button {
  margin-left: var(--left-space);
  margin-top: 32px;
  border: none;
  background-color: #596D48;
  padding: 12px 48px;
  border-radius: 8px;
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}