:root {
  --left-space: 40px
}

  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .imageContainer {
    background-image: url(img/leaf-background.jpg);
    height: 100vh;
    width: 33vw;
    color: white;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .right {
    height: 100vh;
    width: 66vw;
  }

  .title {
    font-family: 'norse';
    background-color: #00000050;
    display: flex;
    flex-direction: row;
  }

  img {
    height: 100px;
  }